<!doctype html>
<html>
<head>
    <title>Welcome!</title>
    <script src="//localhost:35729/livereload.js"></script>
    <script src="/assets/js/{{ appjs }}"></script>
</head>
<body>
    {% block body %}
        <h1>Hello!</h1>
    {% endblock %}
</body>
</html>